<!doctype html>
<html lang="en" ng-app='clone'>
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/angularjs/angular.js"></script>

    <script src="js/main.js"></script>
  </head>

  <body ng-controller="phoneListCtrl">
    Search: <input ng-model="query" ng-change="vm.updateQuery(query)" />

    <ul>
      <li ng-repeat="thingy in searchResults">
         <search-match-directive></search-match-directive>
      </li>
    </ul>

    <p>
      {{ query }}
    </p>

    <p>Total number of phones: {{ phones.length }}</p>
  </body>
</html>